In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
%matplotlib inline

In [8]:
des=pd.read_excel("E Commerce Dataset.xlsx", sheet_name='Data Dict')

In [10]:
des

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,Data,Variable,Discerption
1,NaN,E Comm,CustomerID,Unique customer ID
2,NaN,E Comm,Churn,Churn Flag
3,NaN,E Comm,Tenure,Tenure of customer in organization
4,NaN,E Comm,PreferredLoginDevice,Preferred login device of customer
5,NaN,E Comm,CityTier,City tier
6,NaN,E Comm,WarehouseToHome,Distance in between warehouse to home of customer
7,NaN,E Comm,PreferredPaymentMode,Preferred payment method of customer
8,NaN,E Comm,Gender,Gender of customer
9,NaN,E Comm,HourSpendOnApp,Number of hours spend on mobile application or...
10,NaN,E Comm,NumberOfDeviceRegistered,Total number of deceives is registered on part...
11,NaN,E Comm,PreferedOrderCat,Preferred order category of customer in last m...
12,NaN,E Comm,SatisfactionScore,Satisfactory score of customer on service
13,NaN,E Comm,MaritalStatus,Marital status of customer
14,NaN,E Comm,NumberOfAddress,Total number of added added on particular cust...
15,NaN,E Comm,Complain,Any complaint has been raised in last month
16,NaN,E Comm,OrderAmountHikeFromlastYear,Percentage increases in order from last year
17,NaN,E Comm,CouponUsed,Total number of coupon has been used in last m...
18,NaN,E Comm,OrderCount,Total number of orders has been places in last...
19,NaN,E Comm,DaySinceLastOrder,Day Since last order by customer
20,NaN,E Comm,CashbackAmount,Average cashback in last month

In [12]:
des.columns=des.iloc[0].values

In [15]:
des

,NaN,Data,Variable,Discerption
0,NaN,Data,Variable,Discerption
1,NaN,E Comm,CustomerID,Unique customer ID
2,NaN,E Comm,Churn,Churn Flag
3,NaN,E Comm,Tenure,Tenure of customer in organization
4,NaN,E Comm,PreferredLoginDevice,Preferred login device of customer
5,NaN,E Comm,CityTier,City tier
6,NaN,E Comm,WarehouseToHome,Distance in between warehouse to home of customer
7,NaN,E Comm,PreferredPaymentMode,Preferred payment method of customer
8,NaN,E Comm,Gender,Gender of customer
9,NaN,E Comm,HourSpendOnApp,Number of hours spend on mobile application or...
10,NaN,E Comm,NumberOfDeviceRegistered,Total number of deceives is registered on part...
11,NaN,E Comm,PreferedOrderCat,Preferred order category of customer in last m...
12,NaN,E Comm,SatisfactionScore,Satisfactory score of customer on service
13,NaN,E Comm,MaritalStatus,Marital status of customer
14,NaN,E Comm,NumberOfAddress,Total number of added added on particular cust...
15,NaN,E Comm,Complain,Any complaint has been raised in last month
16,NaN,E Comm,OrderAmountHikeFromlastYear,Percentage increases in order from last year
17,NaN,E Comm,CouponUsed,Total number of coupon has been used in last m...
18,NaN,E Comm,OrderCount,Total number of orders has been places in last...
19,NaN,E Comm,DaySinceLastOrder,Day Since last order by customer
20,NaN,E Comm,CashbackAmount,Average cashback in last month

In [31]:
des.drop(columns=['NaN'],inplace=True)

KeyError: "['NaN'] not found in axis"

KeyError: "['NaN'] not found in axis"

In [7]:
df=pd.read_excel("E Commerce Dataset.xlsx", sheet_name='E Comm')

In [6]:
df.head()

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,159.93
1,50002,1,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,120.90
2,50003,1,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120.28
3,50004,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134.07
4,50005,1,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,129.60